{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static "mainapp/css/imsi.css" %}">
    <link rel="stylesheet" href="{% static "mainapp/bootstrap/css/bootstrap.min.css" %}">
</head>
<body>
    <div class="wrapper">
        <div class="contariner main">
            <div class="row">
                <div class="col-md-6 side-image">
                    <img src="{% static "mainapp/img/see.jpg" %}" alt="">
                    <div class="text">
                        <p>join the community <i>- ludiflex</i></p>
                    </div>
                </div>
                <div class="col-md-6 right">
                    <div class="input-box">
                        <header>Create account</header>
                        <div class="input-field">
                            <input type="text" class="input" id="email" required autocomplete="off">
                            <label for="email">Email</label>
                        </div>
                        <div class="input-field">
                            <input type="password" class="input" id="password" required autocomplete="off">
                            <label for="password">Password</label>
                        </div>
                        <div class="input-field">
                            <input type="submit" class="submit" value="sign up" required autocomplete="off">
                            
                        </div>
                        <div class="signin">
                            <span>Already gave an account?<a href="#">login</a></span>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    
</body>
</html>