<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MAINapp -Main페이지</title>

    <script type="text/javascript" src="https://static.nid.naver.com/js/naverLogin_implicit-1.0.3.js" charset="utf-8"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    
</head>
<body>
    <p>
        <h3>jeapp-index</h3>
        <a href = '/je/'>[jeapp-index 바로가기]</a>
    </p>

    <p>
        <h3>mgapp-home</h3>
        <a href = '/mg/home/'>[mgapp-home 바로가기]</a>
    </p>
    <p>
        <h3>imsi-index</h3>
        <a href = '/imsi/'>[imsi 바로가기]</a>
    </p>
    <p>
        <h3>로그인-index</h3>
        <a href = '/login2/'>[로그인 바로가기]</a>
    </p>
    <p>
        <h3>회원가입-index</h3>
        <a href = '/signup/'>[회원가입 바로가기]</a>
    </p>
    <p>
        <h3>회원가입2-index</h3>
        <a href = '/signup2/'>[회원가입2 바로가기]</a>
    </p>
    <p>
        <h3>회원수정-index</h3>
        <a href = '/hwsj/'>[회원수정 바로가기]</a>
    </p>
    <p>
        <h3>mypage-index</h3>
        <a href = '/mypage/'>[mypage 바로가기]</a>
    </p>
    <p>
        <h3>mygjlist-index</h3>
        <a href = '/mygjlist/'>[mygjlist 바로가기]</a>
    </p>
    <script type="text/javascript">
        var naver_id_login = new naver_id_login("bfX1VdQ2yuuZv8zS6li0", "http://127.0.0.1:8000");
        // 접근 토큰 값 출력
        alert(naver_id_login.oauthParams.access_token);
        // 네이버 사용자 프로필 조회
        naver_id_login.get_naver_userprofile("naverSignInCallback()");
        // 네이버 사용자 프로필 조회 이후 프로필 정보를 처리할 callback function
        function naverSignInCallback() {
          alert(naver_id_login.getProfileData('email'));
          alert(naver_id_login.getProfileData('nickname'));
          alert(naver_id_login.getProfileData('age'));
        }
      </script>
</body>
</html>