<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MAINapp -Main페이지</title>
    
</head>
<body>

    <!--
        * <h> 태그
            - 숫자가 작을수록 폰트 사이즈가 커짐..
            - 숫자가 클수록 폰트 사이즈가 작아짐.
            - 자동 줄바꿈 됨.
    -->
    <h3>thapp</h3>
    <!--
        *<p>태그 : 문단을 의미함
            - 자동 줄바꿈 됨.
    -->
    <p>
        <!--
            - href에 url입력
            - 첫번째 슬래시(/) : 127.0.0.1:8000을 의미(root url)
            - 첫번째 슬래시 다음부터 url패턴 이름을 넣습니다.
            - 마지막에는 꼭 슬래시(/) 넣어 주어야 합니다.

            - <a>태그 : 페이지 전환 이벤트 태그(클릭해서 이동하게 됨.)
        -->
        
    </p>
    <p>
        <h3>jeapp-index</h3>
        <a href = '/je/'>[jeapp-index 바로가기]</a>
    </p>

    <p>
        <h3>mgapp-index</h3>
        <a href = '/mg/'>[mgapp-index 바로가기]</a>
    </p>
    <p>
        <h3>imsi-index</h3>
        <a href = '/imsi/'>[imsi 바로가기]</a>
    </p>
    <p>
        <h3>로그인-index</h3>
        <a href = '/login2/'>[로그인 바로가기]</a>
    </p>
    <p>
        <h3>회원가입-index</h3>
        <a href = '/signup/'>[회원가입 바로가기]</a>
    </p>
    <p>
        <h3>회원가입2-index</h3>
        <a href = '/signup2/'>[회원가입2 바로가기]</a>
    </p>
    <p>
        <h3>회원수정-index</h3>
        <a href = '/hwsj/'>[회원수정 바로가기]</a>
    </p>
</body>
</html>