{% load static  %}
<!DOCTYPE html>
<html class="html">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <meta http-equiv="X-UA-Compatible" content="ie-edge"/>
    <meta name="keywords" content="Yulian Brito, Yulian, Brito, Frontend Developer, Sign Up Sign In 1"/>
    <meta name="author" content="Yulian Brito"/>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Untree.co">
    <link rel="shortcut icon" href="favicon.png">

    <meta name="description" content="" />
    <meta name="keywords" content="bootstrap, bootstrap4" />

    <title>해양택시 로그인 페이지</title>
    <link rel="stylesheet" href="{% static 'mainapp/css/login2.css' %}">
    <script type = "text/javascript" src="{% static 'mainapp/js/login2.js' %}"></script>
    <link href='https://fonts.googleapis.com/css?family=Ubuntu:500' rel='stylesheet' type='text/css'>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Source+Serif+Pro:wght@400;700&display=swap" rel="stylesheet">
  
    <link rel="stylesheet" href="{% static 'mgapp/css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{% static 'mgapp/css/owl.carousel.min.css'%}">
    <link rel="stylesheet" href="{% static 'mgapp/css/owl.theme.default.min.css'%}">
    <link rel="stylesheet" href="{% static 'mgapp/css/jquery.fancybox.min.css'%}">
    <link rel="stylesheet" href="{% static 'mgapp/fonts/icomoon/style.css'%}">
    <link rel="stylesheet" href="{% static 'mgapp/fonts/flaticon/font/flaticon.css'%}">
    <link rel="stylesheet" href="{% static 'mgapp/css/daterangepicker.css'%}">
    <link rel="stylesheet" href="{% static 'mgapp/css/aos.css'%}">
    <link rel="stylesheet" href="{% static 'mgapp/css/style.css'%}">

    <!--프리스탠다드 글꼴 링크-->
    <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/static/pretendard.css" />

    <style>
      @font-face {
      font-family: 'NanumSquareRound';
      src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
      font-weight: normal;
      font-style: normal;
      }
      /* 폰트 설정하기 */
      body {
          font-family: 'NanumSquareRound', sans-serif;
          }</style>

    <!-- javascript 함수 -->
    <script type="text/javascript">
      function goLogin() {
          fm = document.getElementById("fm");
      
          mem_id = fm.mem_id.value;
          mem_pass = fm.mem_pass.value;

          if(mem_id == "" || mem_pass == ""){
              alert("아이디 또는 비밀번호를 입력해주세요.");
              return;
          }            
          fm.action = "/loginafter/";
          fm.submit();
      }
  </script>
    <script>
      // 회원가입 페이지 가기 함수
      function gosignup() {
        location.href = "/signup2";
      }
    </script>
  </head>

  <body>
    <form id="fm" method="post" action="/loginafter/">
      {% csrf_token %}
      <div class="site-mobile-menu site-navbar-target">
        <div class="site-mobile-menu-header">
          <div class="site-mobile-menu-close">
            <span class="icofont-close js-menu-toggle"></span>
          </div>
        </div>
        <div class="site-mobile-menu-body"></div>
      </div>
      <nav class="site-nav" >
  
        <div class="site-navigation">
          <a href="/" class="logo m-0"><img src="{% static "mainapp/free-css/images/로고색.png" %}" alt="" style="width: 300px; height: 50px;" ></a> 
          {% comment %} <span class="text-primary">bigwave</span> {% endcomment %}
  
          <ul class="js-clone-nav d-none d-lg-inline-block text-left site-menu float-right">
            <li class="active"><a href="/mg/test/">선착장예약</a></li>
            <li><a href="/je/service/">교통/관광 서비스</a></li>
            <li><a href="/je/service/">챗봇 서비스</a></li>
            </li>
            <li><a href="/login2/">로그인</a></li>
            <li><a href="/signup2/">회원가입</a></li>
          </ul>
  
          <a href="#" class="burger ml-auto float-right site-menu-toggle js-menu-toggle d-inline-block d-lg-none light" data-toggle="collapse" data-target="#main-navbar">
            <span></span>
          </a>
  
        </div>
      </nav>
      
        <div class="login" style="margin: auto; max-width:500px;">
            <div class="login-header" style="  color:#3F72AF; text-align:center; font-size:200%;">
              <br><br>
              <strong style= " color: #3F72AF; margin:0; padding:0; font-size: 70px; font-family: Pretendard; font-weight: bolder;">LOGIN</strong>
            </div>
            <div class="login-form" style="border:.5px solid #000; background: #F9F7F7; border-radius:10px; box-sizing:border-box;
            padding-top:15px; padding-bottom:10%; margin:5% auto; text-align:center;">
              <h3 style="margin:0; padding:0; text-align:left; margin-left:50px; color:#3F72AF; font-size: 20px; font-weight: bolder;
              font-family: Pretendard;">아 이 디:</h3>
              <input type="text" name="mem_id" placeholder="Userid"/><br>
              <h3 style="margin:0; padding:0; text-align:left; margin-left:50px; color:#3F72AF; font-size: 20px; font-weight: bolder;
              font-family: Pretendard;">비밀번호:</h3>
              <input type="password" name="mem_pass" placeholder="Password"/>
              <br>
              <br>
              <input type="button" value="회 원 가 입" class="login-button" onclick="gosignup()"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="button" value="로  그  인" class="login-button" onclick="goLogin()"/>
              <br><br>
              <a href="" class="a-bimil" style="color: #3F72AF; font-family: Pretendard;">비밀번호 찾기</a>
              </div>
            </div>
          </div>
    </form>
        <script src="{% static 'mgapp/js/jquery-3.4.1.min.js'%}"></script>
        <script src="{% static 'mgapp/js/popper.min.js'%}"></script>
        <script src="{% static 'mgapp/js/bootstrap.min.js'%}"></script>
        <script src="{% static 'mgapp/js/owl.carousel.min.js'%}"></script>
        <script src="{% static 'mgapp/js/jquery.animateNumber.min.js'%}"></script>
        <script src="{% static 'mgapp/js/jquery.waypoints.min.js'%}"></script>
        <script src="{% static 'mgapp/js/jquery.fancybox.min.js'%}"></script>
        <script src="{% static 'mgapp/js/aos.js'%}"></script>
        <script src="{% static 'mgapp/js/moment.min.js'%}"></script>
        <script src="{% static 'mgapp/js/daterangepicker.js'%}"></script>
      
        <script src="{% static 'mgapp/js/typed.js'%}"></script>
        <script>
          $(function() {
            var slides = $('.slides'),
            images = slides.find('img');
      
            images.each(function(i) {
              $(this).attr('data-id', i + 1);
            })
      
            var typed = new Typed('.typed-words', {
              strings: ["다대포 ","영도 ","자갈치 ", "송도",],
              typeSpeed: 80,
              backSpeed: 80,
              backDelay: 4000,
              startDelay: 1000,
              loop: true,
              showCursor: true,
              preStringTyped: (arrayPos, self) => {
                arrayPos++;
                console.log(arrayPos);
                $('.slides img').removeClass('active');
                $('.slides img[data-id="'+arrayPos+'"]').addClass('active');
              }
      
            });
          })
        </script>
        <script src="{% static 'mgapp/js/custom.js'%}"></script>
  </body>
</html>