{% load static  %}
<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=3.0">
    <title>marketkurly</title>
    <link rel="stylesheet" href="style.css">
    <style type="text/css"></style>
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
    <script type="text/javascript" src="script.js"></script>
    <script type="text/javascript"></script>

    <meta name="description" content="" />
    <meta name="keywords" content="bootstrap, bootstrap4" />
  
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Source+Serif+Pro:wght@400;700&display=swap" rel="stylesheet">
  
    <link rel="stylesheet" href="{% static 'mgapp/css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{% static 'mgapp/css/owl.carousel.min.css'%}">
    <link rel="stylesheet" href="{% static 'mgapp/css/owl.theme.default.min.css'%}">
    <link rel="stylesheet" href="{% static 'mgapp/css/jquery.fancybox.min.css'%}">
    <link rel="stylesheet" href="{% static 'mgapp/fonts/icomoon/style.css'%}">
    <link rel="stylesheet" href="{% static 'mgapp/fonts/flaticon/font/flaticon.css'%}">
    <link rel="stylesheet" href="{% static 'mgapp/css/daterangepicker.css'%}">
    <link rel="stylesheet" href="{% static 'mgapp/css/aos.css'%}">
    <link rel="stylesheet" href="{% static 'mgapp/css/style.css'%}">
  
  
    <link rel="canonical" href="https://getbootstrap.com/docs/5.3/examples/album/">
  
      
    <script src="{% static 'mgapp/css/assets/js/color-modes.js'%}"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/n pm/@docsearch/css@3">
    <link href="{% static 'mgapp/css/assets/dist/css/bootstrap.min.css'%}" rel="stylesheet">

    <style>
      tbody {
        width: 100%;
        /* border: 1px solid silver; */
      }

    </style>
</head>


    <body>
      <div class="site-mobile-menu site-navbar-target">
        <div class="site-mobile-menu-header">
            <div class="site-mobile-menu-close">
                <span class="icofont-close js-menu-toggle"></span>
            </div>
        </div>
        <div class="site-mobile-menu-body"></div>
    </div>
  
    <nav class="site-nav" style="z-index: 5;">
      <div class="site-navigation">
        <a href="/" class="logo m-0"><img src="{% static "mainapp/free-css/images/로고색.png" %}" alt="" style="width: 300px; height: 50px;" ></a> 
        <ul class="js-clone-nav d-none d-lg-inline-block text-left site-menu float-right">
            {% if request.session.ses_mem_id == None %}
            <li class="active"><a href="/">서비스 소개</a></li>
            <li class="active"><a href="/mg/test/">선착장예약</a></li>
            <li><a href="/je/service/">교통/관광 서비스</a></li>
            <li><a href="/login2/">로그인</a></li>
            <li><a href="/signup2/">회원가입</a></li>
            {% else %}
            <li class="active"><a href="/">서비스 소개</a></li>
            <li class="active"><a href="/mg/test/">선착장예약</a></li>
            <li><a href="/mg/booking/">예약확인</a></li>
            <li><a href="/je/service/">교통/관광 서비스</a></li>
            <li><a href="/mypage/">회원정보</a></li>
            <li><a href="/logout/">로그아웃</a></li>
            {% endif %} 
        </ul>
        <a href="#" class="burger ml-auto float-right site-menu-toggle js-menu-toggle d-inline-block d-lg-none light" data-toggle="collapse" data-target="#main-navbar">
            <span></span>
        </a>
      </div>
    </nav><br><br><br><br>
    
    <br>
      <br>

      <div class="col-12">
        <center>
        <form class="form" id="scheduleForm" method="post" action="#" style="width: 70%;">
          {% csrf_token %}
          <h1 style="text-align: center;">회원정보</h1>
          <table  class="rwd-table">
            <tbody>
              <tr>
                <th class="small_1">/</th>
                <th class="small_1">회원정보</td>

              </tr>
              <tr class="KOTRA-fontsize-80">
                <td class="small_1"><p style="font-size: 15px;">아이디</p></td>
                <td class="small_1"><p style="font-size: 15px;">a001</p></td>
              </tr>
              <tr class="KOTRA-fontsize-80">
                <td class="small_1"><p style="font-size: 15px;">비밀번호</p></td>
                <td class="small_1"> <input style="width: 50%;" type="password" placeholder="********"> </td>
              </tr>
              <tr class="KOTRA-fontsize-80">
                <td class="small_1"><p style="font-size: 15px;">비밀번호 확인</p></td>
                <td class="small_1"> <input style="width: 50%;" type="password" placeholder="********"> </td>
              </tr>
              <tr class="KOTRA-fontsize-80">
                <td class="small_1"><p style="font-size: 15px;">이름</p></td>
                <td class="small_1"> <p style="font-size: 15px;">{{boo_mem.mem_name}}</p> </td>
              </tr>
              <tr class="KOTRA-fontsize-80">
                <td class="small_1"><p style="font-size: 15px;">생년월일</p></td>
                <td class="small_1"> <p style="font-size: 15px;">{{boo_mem.mem_regno1}}</p> </td>
              </tr>
              <tr class="KOTRA-fontsize-80">
                <td class="small_1"><p style="font-size: 15px;">휴대폰번호</p></td>
                <td class="small_1"> <input style="width: 50%;" type="password" placeholder="{{boo_mem.mem_hp}}"> </td>
              </tr>
              <tr class="KOTRA-fontsize-80">
                <td class="small_1"><p style="font-size: 15px;">이메일</p></td>
                <td class="small_1"> <input style="width: 50%;" type="password" placeholder="{{boo_mem.mem_mail}}"> </td>
              </tr>
              <tr class="KOTRA-fontsize-80">
                <td class="small_1"><p style="font-size: 15px;">주소</p></td>
                <td class="small_1"> <input style="width: 50%;" type="password" placeholder="{{boo_mem.mem_add1}}-{{boo_mem.mem_add2}}"> </td>
              </tr>

              
            
            </tbody>
          </table>
          <div class="tal_c">
            <input type="button" style=" background: #213c5a; color: #fff; display: inline-block; text-align: center; height: 44px; line-height: 42px; padding: 0 10px;" value="돌아가기" onclick="goBack()">
            <input type="button" style=" background: #213c5a; color: #fff; display: inline-block; text-align: center; height: 44px; line-height: 42px; padding: 0 10px;" value="수정완료">
          </div>

    
        </form>
      </center>
      </div>
      <script src="{% static 'mgapp/js/jquery-3.4.1.min.js'%}"></script>
      <script src="{% static 'mgapp/js/popper.min.js'%}"></script>
      <script src="{% static 'mgapp/js/bootstrap.min.js'%}"></script>
      <script src="{% static 'mgapp/js/owl.carousel.min.js'%}"></script>
      <script src="{% static 'mgapp/js/jquery.animateNumber.min.js'%}"></script>
      <script src="{% static 'mgapp/js/jquery.waypoints.min.js'%}"></script>
      <script src="{% static 'mgapp/js/jquery.fancybox.min.js'%}"></script>
      <script src="{% static 'mgapp/js/aos.js'%}"></script>
      <script src="{% static 'mgapp/js/moment.min.js'%}"></script>
      <script src="{% static 'mgapp/js/daterangepicker.js'%}"></script>
    
      <script src="{% static 'mgapp/js/typed.js'%}"></script>
      <script src="{% static 'mgapp/js/custom.js'%}"></script>

      <script>
        //취소하기
        function goBack(){
          fm = document.getElementById("scheduleForm")
          fm.action = "/";
          fm.submit();
        }
      </script>
    
    </body>