{% load static  %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입 페이지</title>
    <link rel="stylesheet" href="{% static 'mainapp/css/signup2.css' %}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Source+Serif+Pro:wght@400;700&display=swap" rel="stylesheet">
  

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Untree.co">
    <link rel="shortcut icon" href="favicon.png">

    <meta name="description" content="" />
    <meta name="keywords" content="bootstrap, bootstrap4" />

    <link rel="stylesheet" href="{% static 'mgapp/css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{% static 'mgapp/css/owl.carousel.min.css'%}">
    <link rel="stylesheet" href="{% static 'mgapp/css/owl.theme.default.min.css'%}">
    <link rel="stylesheet" href="{% static 'mgapp/css/jquery.fancybox.min.css'%}">
    <link rel="stylesheet" href="{% static 'mgapp/fonts/icomoon/style.css'%}">
    <link rel="stylesheet" href="{% static 'mgapp/fonts/flaticon/font/flaticon.css'%}">
    <link rel="stylesheet" href="{% static 'mgapp/css/daterangepicker.css'%}">
    <link rel="stylesheet" href="{% static 'mgapp/css/aos.css'%}">
    <link rel="stylesheet" href="{% static 'mgapp/css/style.css'%}">

    <!--프리텐다드 글꼴 링크-->
    <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/static/pretendard.css" />


    <!--네이버로 로그인하기 링크-->
    <script type="text/javascript" src="https://static.nid.naver.com/js/naverLogin_implicit-1.0.3.js" charset="utf-8"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.3.min.js"></script>

    <script type="text/javascript" src="{% static "mainapp/js/imsi.js" %}"></script>
    <link rel="stylesheet" href="{% static 'mainapp/css/imsi.css' %}">


  <!--goToContent2 : 가입하기에서 약관동의 이동 버튼-->
  <!--goToContent3 : 약관동의에서 정보입력으로 이동 버튼-->
  <script>
    // goToContent2 : 가입하기에서 약관동의 이동 버튼
    function goToContent2() {
      document.getElementById('tab2').checked = true;
      document.getElementById('content1').style.display = 'none';
      document.getElementById('content2').style.display = 'block';
    }
    // goToContent3 : 약관동의에서 정보입력으로 이동 버튼
    function goToContent3() {
      // Check if the required checkboxes are checked
      var termsAgreed = document.getElementById('termsAgreed').checked;
      var privacyAgreed = document.getElementById('privacyAgreed').checked;
      var dataAgreed = document.getElementById('dataAgreed').checked;

      // If any of the required checkboxes are not checked, show an alert
      if (!termsAgreed || !privacyAgreed || !dataAgreed) {
          alert('필수 항목에 동의해주세요.');
          return;  // Do not proceed to the next step if not all required checkboxes are checked
      }

      // content2에서 content3으로 넘어가기
      document.getElementById('tab3').checked = true;
      document.getElementById('content2').style.display = 'none';
      document.getElementById('content3').style.display = 'block';
    }
    // checkAll : 전체동의 전체체크 함수
    function checkAll() {
        var checkboxes = document.getElementById('content2').querySelectorAll('input[type="checkbox"]');
        for (var i = 0; i < checkboxes.length; i++) {
            checkboxes[i].checked = true;
        }
    }
  </script>

  <!--content3 내부 함수 + 회원가입 완료 버튼 함수-->
  <script>
    // Checkid : 회원 아이디 중복체크 함수
    function Checkid() {
      fm = document.getElementById("fm");
      mem_id = fm.mem_id.value;

      location.href = "/idcheck/?mem_id=" + mem_id;
    }
    // 선택된 이메일 도메인 값 넣기
    function updateEmailField() {
      var selectElement = document.getElementById('emailOption');
      var selectedOption = selectElement.options[selectElement.selectedIndex].text;
  
      // 선택된 옵션을 mem_mail2 입력 필드의 값으로 설정
      document.querySelector('input[name="mem_mail2"]').value = selectedOption;
    }

    function goToContent4FromContent3() {
      //입력사항 함수로 받아오기
      var mem_id = document.querySelector('input[name="mem_id"]').value;
      var mem_mail = document.querySelector('input[name="mem_mail"]').value;
      var mem_pass = document.querySelector('input[name="mem_pass"]').value;
      var mem_name = document.querySelector('input[name="mem_name"]').value;
      var mem_regno1 = document.querySelector('input[name="mem_regno1"]').value;
      var mem_hp = document.querySelector('input[name="mem_hp"]').value;
      var mem_add1 = document.querySelector('input[name="mem_add1"]').value;
      var mem_add2 = document.querySelector('input[name="mem_add2"]').value;
      var mem_add3 = document.querySelector('input[name="mem_add3"]').value;

      // 필수 입력사항에 값이 없으면 리스트에 해당 입력영역 넣기
      var missingFields = [];
      if (!mem_id) missingFields.push("아이디");
      if (!mem_mail) missingFields.push("이메일");
      if (!mem_pass) missingFields.push("패스워드");
      if (!mem_name) missingFields.push("이름");
      if (!mem_regno1) missingFields.push("생년월일");
      if (!mem_hp) missingFields.push("휴대폰번호");
      if (!mem_add1) missingFields.push("우편번호");
      if (!mem_add3) missingFields.push("상세주소");

      // 입력값이 없는 영역 팝업으로 띄우기
      if (missingFields.length > 0) {
        var missingFieldsString = missingFields.join(", ");
        alert(missingFieldsString + '의 값을 입력하세요: ');
        return;
      }


      
      // content3에서 content4로 넘어가기
      document.getElementById('tab4').checked = true;
      document.getElementById('content3').style.display = 'none';
      document.getElementById('content4').style.display = 'block';

      fm = document.getElementById("fm");
  
      mem_id = fm.mem_id.value;
      mem_pass = fm.mem_pass.value;
      mem_name = fm.mem_name.value;
      mem_regno1 = fm.mem_regno1.value;
      mem_mail = fm.mem_mail.value;
      mem_mail2 = fm.mem_mail2.value;
      mem_hp = fm.mem_hp.value;
      mem_add1 = fm.mem_add1.value;
      mem_add2 = fm.mem_add2.value;
      mem_add3 = fm.mem_add3.value;
    
      fm.action = "/signupafter/";
      fm.submit();
    }
</script>

<!--우편번호찾기 버튼 함수-->
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script>
    function sample6_execDaumPostcode() {
        new daum.Postcode({
            oncomplete: function(data) {
                // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                // 각 주소의 노출 규칙에 따라 주소를 조합한다.
                // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                var addr = ''; // 주소 변수
                var extraAddr = ''; // 참고항목 변수

                //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                    addr = data.roadAddress;
                } else { // 사용자가 지번 주소를 선택했을 경우(J)
                    addr = data.jibunAddress;
                }

                // 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
                if(data.userSelectedType === 'R'){
                    // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                    // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                    if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                        extraAddr += data.bname;
                    }
                    // 건물명이 있고, 공동주택일 경우 추가한다.
                    if(data.buildingName !== '' && data.apartment === 'Y'){
                        extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                    }
                    // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                    if(extraAddr !== ''){
                        extraAddr = ' (' + extraAddr + ')';
                    }
                    // 조합된 참고항목을 해당 필드에 넣는다.
                    document.getElementById("sample6_extraAddress").value = extraAddr;
                
                } else {
                    document.getElementById("sample6_extraAddress").value = '';
                }

                // 우편번호와 주소 정보를 해당 필드에 넣는다.
                document.getElementById('sample6_postcode').value = data.zonecode;
                document.getElementById("sample6_address").value = addr;
                // 커서를 상세주소 필드로 이동한다.
                document.getElementById("sample6_detailAddress").focus();
            }
        }).open();
    }
</script>

<!--content4 버튼 함수-->
<script>
  function gologin(){
    fm = document.getElementById("fm");
    //location.href = "/oracle/mem_update/";
    fm.action = "/login2/";
    fm.submit();
  }
</script>

<script type="text/javascript">
  function goCheck() {
      fm = document.getElementById("fm");
      mem_id = fm.mem_id.value;

      location.href = "/idcheck/?mem_id=" + mem_id;
  }
  function goCreate() {
      fm = document.getElementById("fm");
  
      mem_id = fm.mem_id.value;
      mem_pass = fm.mem_pass.value;
      mem_name = fm.mem_name.value;
      mem_regno1 = fm.mem_regno1.value;
      mem_mail = fm.mem_mail.value +"@"+ fm.mem_mail2.value;
      mem_hp = fm.mem_hp.value;
      mem_add1 = fm.mem_add1.value + fm.mem_add2.value;
      mem_add2 = fm.mem_add3.value;
    
      fm.action = "/signupafter/";
      fm.submit();
  }
</script>

</head>
<body style="background-color: #fff; font-family: Pretendard;">
  <form id="fm" method="post" action="#">
    {% csrf_token %}
    <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
          <div class="site-mobile-menu-close">
              <span class="icofont-close js-menu-toggle"></span>
          </div>
      </div>
      <div class="site-mobile-menu-body"></div>
  </div>
  
  <nav class="site-nav">
  
          <div class="site-navigation">
              <a href="/" class="logo m-0"><img src="{% static "mainapp/free-css/images/로고색.png" %}" alt="" style="width: 300px; height: 50px;" ></a> 
              {% comment %} <span class="text-primary">bigwave</span> {% endcomment %}
  
              <ul class="js-clone-nav d-none d-lg-inline-block text-left site-menu float-right">
                  <li class="active"><a href="/">서비스 소개</a></li>
                  <li class="active"><a href="/mg/test/">선착장예약</a></li>
                  <li><a href="/je/service/">교통/관광 서비스</a></li>
                  <li><a href="/je/service/chatbotiframe/">챗봇 서비스</a></li>
                  </li>
                  {% if request.session.ses_mem_id == None %}
                  <li><a href="/login2/">로그인</a></li>
                  <li><a href="/signup2/">회원가입</a></li>
                  {% else %}
                  <li><a href="/mg/booking/">예약확인</a></li>
                  <li><a href="/mypage/">회원정보</a></li>
                  <li><a href="/logout/">로그아웃</a></li>
                  {% endif %}
              </ul>
  
              <a href="#" class="burger ml-auto float-right site-menu-toggle js-menu-toggle d-inline-block d-lg-none light" data-toggle="collapse" data-target="#main-navbar">
                  <span></span>
              </a>
  
          </div>
  </nav>
    <br>
      <article class="find1">
        <h2 style="color: #112D4E; font-family: Pretendard; font-weight: bolder; font-size: 50px;">회 원 가 입</h2>
        <p style="color: #112D4E; font-family: Pretendard; font-weight: bolder;">bigwave 회원가입을 환영합니다.<br>회원으로 가입하시면 다양한 혜택과 서비스를 이용하실 수 있습니다.</p>
    
        <div>
          <input id="tab1" type="radio" name="tabs" checked>
          <!--디폴트 메뉴-->
          <label for="tab1"><img src="{% static 'mainapp/img/가입하기.gif'%}"><br>STEP 1<br>가입하기</label>
          　
          <input id="tab2" type="radio" name="tabs">
          <label for="tab2"><img src="{% static 'mainapp/img/체크리스트.gif'%}"><br>STEP 2<br>약관동의</label>
    
          <input id="tab3" type="radio" name="tabs">
          <label for="tab3"><img src="{% static 'mainapp/img/회원가입.gif'%}"><br>STEP 3<br>정보입력</label>
    
          <input id="tab4" type="radio" name="tabs">
          <label for="tab4"><img src="{% static 'mainapp/img/가입완료.gif'%}"><br>STEP 4<br>가입완료</label>
    
          <section id="content1">
            <div>
              <h4 style="color: #112D4E; font-family: Pretendard; font-weight: bolder; font-size: 30px;">bigwave 회원가입</h4>
              <p style="color: #112D4E; font-family: Pretendard; font-weight: bolder;">bigwave 회원으로 가입합니다.</p><br>
              <input type="button" class="signup-go" onclick="goToContent2()" value="회원가입 하기"
              style="margin-top: 1rem; background: linear-gradient(to left, #3F72AF, #b4caf2); padding: 13px; width: 55%; color: white; 
              transition: 0.6s; font-family: Pretendard; font-weight: bolder; font-size: 17px;">
            </div>
          </section>
  
          <section id="content2" style="display: none;">
            <label style="color: #112D4E; font-family: Pretendard; font-weight: bolder;"><input type="checkbox" onclick="checkAll()">　전체 동의</label>
            <hr>
            <label style="color: #112D4E; font-family: Pretendard; font-weight: bolder;"><input type="checkbox" id="termsAgreed">　회원 이용 약관 (필수)　〉</label><br>
            <label style="color: #112D4E; font-family: Pretendard; font-weight: bolder;"><input type="checkbox" id="privacyAgreed">　개인정보 처리방침 (필수)　〉</label><br>
            <label style="color: #112D4E; font-family: Pretendard; font-weight: bolder;"><input type="checkbox" id="dataAgreed">　개인정보 수집 및 이용 (필수)　〉</label><br>
            <label style="color: #112D4E; font-family: Pretendard; font-weight: bolder;"><input type="checkbox">　이메일 마케팅 수신 동의 (선택)</label><br>
            <label style="color: #112D4E; font-family: Pretendard; font-weight: bolder;"><input type="checkbox">　SMS 마케팅 수신 동의 (선택)</label><br>
            <p>정보수신에 동의하지 않아도 정상적인 서비스 이용이 가능합니다. 거래 정보, 결제/교환/환불 등과 관련된 내용은 거래 안전을 위하여 수신동의 여부와 관계없이 발송됩니다.</p>
            <input type="button" onclick="goToContent3()" value="다음으로"
            style="margin-top: 1rem; background: linear-gradient(to left, #3F72AF, #b4caf2); padding: 15px; width: 55%; color: white;
            transition: 0.6s; margin: 2.5rem auto 0 6rem; font-family: Pretendard; font-weight: bolder; font-size: 17px;">
          </section>

          
            <section id="content3" style="display: none;">
              <h5  style="color: #112D4E; font-family: Pretendard; font-weight: bolder; text-align: left;">회원가입 입력 정보</h5>
      
              <div>
                <div>
                  <p style="color: #112D4E; font-family: Pretendard; font-weight: bolder;">아이디</p>
                  
                  <p style="color: #112D4E; font-family: Pretendard; font-weight: bolder;">이메일</p>
                  
                  <p style="color: #112D4E; font-family: Pretendard; font-weight: bolder;">비밀번호</p>
                  <p style="color: #112D4E; font-family: Pretendard; font-weight: bolder;">비밀번호<br>확인</p>
                  <p style="color: #112D4E; font-family: Pretendard; font-weight: bolder;">이름</p>
                  <p style="color: #112D4E; font-family: Pretendard; font-weight: bolder;">생년월일</p>
                  <p style="color: #112D4E; font-family: Pretendard; font-weight: bolder;">휴대전화</p>
                  <p style="color: #112D4E; font-family: Pretendard; font-weight: bolder;">주소</p>
                </div>
      
                <div>
                  <input type="text" name="mem_id" placeholder="아이디를 입력하세요."><br>
                  <button class = "telchk" type="button" onclick="goCheck()">중복확인</button><br>
                  <input type="text" class="mem_mail" name="mem_mail" style="  width: 28%; height: 5vh;"> @ <input type="text" name="mem_mail2" style="  width: 28%; height: 5vh;">
                  <select id="emailOption" size="1" onchange="updateEmailField()">
                    <option selected>직접입력</option>
                    <option>hanmail.net</option>
                    <option>naver.com</option>
                    <option>gmail.com</option>
                    <option>hotmail.com</option>
                    <option>nate.com</option>
                  </select>
                  <br>
                  <input type="password" placeholder="영문, 숫자 조합 6~12자"><br>
                  <input type="password" name="mem_pass" placeholder="영문, 숫자 조합 6~12자"><br><br>
                  <input type="text" name="mem_name" placeholder="이름을 입력하세요."><br>
                  <input type="text" name="mem_regno1" placeholder="예) 20230904"><br>
                  <input type="text" name="mem_hp" placeholder="예) 01012341375"><br>
                  <input type="address" id="sample6_postcode" placeholder="우편번호">
                  <input type="button"  onclick="sample6_execDaumPostcode()" value="우편번호 찾기"><br>
                  <input type="address" name="mem_add1" id="sample6_address" placeholder="주소"><br>
                  <input type="address" name="mem_add2" id="sample6_extraAddress" placeholder="참고항목">
                  <input type="address" name="mem_add3" id="sample6_detailAddress" placeholder="상세주소">
                </div>
              </div>
              <input type="button" onclick="goToContent4FromContent3()" value="가입하기" style="font-family: 굴림; font-weight: bolder; font-size: 1rem;">
            
              
            </section>
          
          <section id="content4" style="display: none;">
            <img src="{% static 'mainapp/img/가입완료.gif'%}">
            <h4 style="font-family: Pretendard;">회원가입이 완료되었습니다!</h4>
            <p style="font-family: Pretendard;">모든 회원가입 절차가 완료되었습니다.<br>로그인 후 다양한 혜택과 서비스를 이용하실 수 있습니다.</p>
            <input type="button" onclick="goCreate()" value="로그인하기" style="font-family: Pretendard; font-weight: bolder; font-size: 17px;">
          </section>
        </form>
        </div>
      
      </article>
      <script src="{% static 'mgapp/js/jquery-3.4.1.min.js'%}"></script>
      <script src="{% static 'mgapp/js/popper.min.js'%}"></script>
      <script src="{% static 'mgapp/js/bootstrap.min.js'%}"></script>
      <script src="{% static 'mgapp/js/owl.carousel.min.js'%}"></script>
      <script src="{% static 'mgapp/js/jquery.animateNumber.min.js'%}"></script>
      <script src="{% static 'mgapp/js/jquery.waypoints.min.js'%}"></script>
      <script src="{% static 'mgapp/js/jquery.fancybox.min.js'%}"></script>
      <script src="{% static 'mgapp/js/aos.js'%}"></script>
      <script src="{% static 'mgapp/js/moment.min.js'%}"></script>
      <script src="{% static 'mgapp/js/daterangepicker.js'%}"></script>
    
      <script src="{% static 'mgapp/js/typed.js'%}"></script>
      <script>
        $(function() {
          var slides = $('.slides'),
          images = slides.find('img');
    
          images.each(function(i) {
            $(this).attr('data-id', i + 1);
          })
    
          var typed = new Typed('.typed-words', {
            strings: ["다대포 ","영도 ","자갈치 ", "송도",],
            typeSpeed: 80,
            backSpeed: 80,
            backDelay: 4000,
            startDelay: 1000,
            loop: true,
            showCursor: true,
            preStringTyped: (arrayPos, self) => {
              arrayPos++;
              console.log(arrayPos);
              $('.slides img').removeClass('active');
              $('.slides img[data-id="'+arrayPos+'"]').addClass('active');
            }
    
          });
        })
      </script>
      <script src="{% static 'mgapp/js/custom.js'%}"></script>
</body>
</html>