@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/static/pretendard.css");
body {
  background-color: #33628792;
  margin:0px;
  font-family: 'Pretendard';
	background-size: 100% 130%;
}
h1, h2, h3, h4, h5, h6, a{
  margin:0; padding:0;
}
hr {
  border : 0px;
  border-top: 3px solid #33628792;
}

.login-form {
  border:.5px solid #000;
  background:#fff;
  border-radius:10px;
}
.login-form h3 {
  text-align:left;
  margin-left:40px;
  color:#000;
}
.login-form {
  box-sizing:border-box;
  padding-top:15px;
	padding-bottom:10%;
  margin:5% auto;
  text-align:center;
}
.login input[type="text"],
.login input[type="password"] {
  max-width:400px;
	width: 80%;
  line-height:3em;
  font-family: 'Pretendard';
  margin:1em 2em;
  border-radius:5px;
  border:3px solid #DBE2EF;
  outline:none;
  padding-left:10px;
}
.login-button {
  height:50px;
  max-width:400px;
	width: 40%;
  background:#3F72AF;
  border:3px solid #DBE2EF;
  border-radius:20px;
  color: #F9F7F7;
  text-transform:uppercase;
  font-family: 'Pretendard';
  font-size: large;
  font-weight: bolder;
  cursor:pointer;
}

.login-img{
background-color: #fff;
border:0px solid #000;
}

.sign-up{
  height:30px;
  width:100px;
  background:#27282f;
  border:1px solid #f2f2f2;
  border-radius:100px;
  color: #fff;
  text-transform:uppercase;
  font-family: 'Pretendard';
  cursor:pointer;
}
.a-bimli {
  color:#0c0b0b;
  margin:20px 0px 20px -57%;
  text-decoration:underline;
  cursor:pointer;
}
.try-again {
  color:#f2f2f2;
  text-decoration:underline;
  cursor:pointer;
}

/*Media Querie*/
@media only screen and (min-width : 150px) and (max-width : 530px){
  .login-form h3 {
    text-align:center;
    margin:0;
  }
  .sign-up, .no-access {
    margin:10px 0;
  }
  .login-button {
    margin-bottom:10px;
  }
}