/* 옮김 */
* {
    box-sizing: border-box;
  }
  /* 폰트 */
  @font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  
  html > body {
    font-family:"GmarketSansMedium";
    text-underline-position: under;
  }
  
  /* lib */
  :root {
    --site-width: 1080px;
  }
  
  .con {
    width: var(--site-width);
  }
  
  .con-min-width {
    min-width: var(--site-width);
  }
  
  /* 커스텀 */
  .container {
    display:flex;
    flex-direction:column;
    min-height:100vh;
  }
  
  .container > header {
    height: 80px;
    border-bottom: 1px solid #D9D9D9;
  }
  
  .container > .content {
    display:flex;
    flex-direction:row;
    flex-grow:1;
  }
  
  .container > .content > nav {
    margin: 40px 15px;
    flex-basis:220px;
    flex-shrink:0;
    border: 1px solid #33628792;
  }
  
  .container > .content > main {
    margin: 40px 15px 40px 0;
    flex-grow:1;
    border: 1px solid #33628792;
  }
  
  .container > footer {
    height: 60px;
    display:flex;
    justify-content:center;
    align-items: center;
    border-top: 1px solid #33628792;
  }
  
  /* 로고 영역 */
  .logo {
      padding: 0 30px;
  }
  /* 검색 영역 */
  .search-box {
      border: 2px solid #33628792;
      width: 550px;
      height: 40px;
      box-sizing: border-box;
      position: relative;
      margin-right: 30px;
  }
  .search-input {
      width: 100%;
      height: 100%;
      padding: 0px 15px;
  }
  .search-input-text {
      color: #a1a1a1;
      margin-right: 15px;
      margin-top: 5px;
  }
  .search-action {
      text-decoration: none;
      cursor: pointer;
      margin-top: 5px;
  }
  /* 페이지 이동 영역 */
  .move-item {
      display: flex;
      align-items: center;
      position: relative;
      padding: 10px;
  }
  .move-bar {
      margin: 0 20px 0 40px;
  }
  .move-1 {
      margin-right: 10px;
  }
  .move-2 {
      margin-left: 10px;
  }
  
  main > div > span {
    padding: 20px;
    font-size: 1.8rem;
    margin-bottom: 20px;
  }
  
  nav > div > span {
    display: block;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 45px;
    text-align: center;
    background-color: #33628792;
    color: white;
    letter-spacing: 2px;
  }
  
  .menu-box {
    padding: 15px;
  }
  
  .menu-box > li {
    margin-top: 3px;
  }
  
  .menu-box > li > a {
    display: block;
    padding: 10px;
    font-size: 1.5rem;
    text-align: center;
    color: #33628792;
  }
  
  .menu-box > li:hover > a {
    text-decoration: underline;
  }
  
  .menu-box > li.active > a {
    background-color: #33628792;
  }
  
  /* 옮김 */
  
  .uesr-info {
    margin: 0 30px;
  }
  
  .uesr-profile {
    margin-left: 30px;
    padding: 30px;
    border-radius: 15px;
    border: 1px solid #000;
  }
  
  .profile-img > img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
  }
  
  .nick-name {
    margin-top: 30px;
    font-size: 1.2rem;
  }
  
  .uesr-info > div > .info-name {
    font-weight: bold;
    width: 110px;
    background-color: #EDE9F2;
    border-right: 1px solid #000;
    padding: 15px 0 15px 10px;
  }
  
  .uesr-info > div > .info {
    padding: 15px 0 15px 10px;
  }
  
  .uesr-info > div {
    border: 1px solid #000;
  }
  
  .uesr-info > div:not(:last-child) {
    border-bottom-width: 0;
  }
  
  .post > div {
    width: 70px;
    border: 1px solid #33628792;
    border-radius: 5px;
    margin-bottom: 10px;
    text-align: center;
    padding-top: 3px;
  }
  
  .post > span {
    padding-top: 5px;
    margin-right: 10px;
    font-size: 0.8rem;
  }
  
  .btn-info-change {
    margin-top: 50px;
  }